#button {
  background-color: rgba(47, 139, 167, 0.778);
  width: 70%;
  border-radius: 10px;
  border: none;
  height: 27%;
  color: white;
  font-size: 120%;
}
#button:hover {
  margin-left: 10px;
  transition: 0.5ms;
  transition-property: initial;
  background-color: rgba(47, 139, 167, 0.99);
}
#button2 {
  background-color: rgba(173, 18, 18, 0.677);
  width: 70%;
  border-radius: 10px;
  border: none;
  height: 27%;
  color: white;
  font-size: 120%;
}
#button2:hover {
  margin-left: 10px;
  transition: 0.5ms;
  transition-property: initial;
  background-color: rgba(173, 18, 18, 0.879);
}
#button3 {
  background-color: rgba(219, 154, 56, 0.778);
  width: 70%;
  border-radius: 10px;
  border: none;
  height: 27%;
  color: white;
  font-size: 120%;
}
#button3:hover {
  margin-left: 10px;
  transition: 0.5ms;
  transition-property: initial;
  background-color: rgba(219, 154, 56, 0.985);
}
#container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
}
#container2 {
  padding-left: 9%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.plan {
  text-align: initial;
  padding-left: 9%;
  color: white;
  padding-bottom: 3%;
}

/* .ul2 {
  text-align: initial;
  margin-left: 9%;
  color: black;
  padding-bottom: 7%;
} */
.ul2 {
  list-style-position: inside;
  padding-left: 0px;
  text-align: start;
  padding-left: 15%;
  padding-top: 5%;
}
.ul3 {
  list-style-position: inside;
  padding-left: 0px;
  text-align: start;
  padding-left: 15%;
  padding-top: 5%;
}
.h5 {
  /* text-align: start; */
  width: 80%;
  padding-top: 5%;
  color: rgba(47, 139, 167, 0.778);
  margin-left: 9%;
}

@media (0px <= width < 768px) {
  #button {
    background-color: rgba(47, 139, 167, 0.778);
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 12%;
    color: white;
    font-size: 90%;
  }
  #button2 {
    background-color: rgba(173, 18, 18, 0.677);
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 12%;
    color: white;
    font-size: 90%;
  }
  #button3 {
    background-color: rgba(219, 154, 56, 0.778);
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 12%;
    color: white;
    font-size: 90%;
  }
  #container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 12%;
  }
  .plan {
    text-align: initial;
    padding-left: 5%;
    color: white;
    padding-bottom: 3%;
    font-size: 22px;
    padding-top: 5%;
  }

  .ul2 {
    text-align: initial;
    margin-left: 9%;

    padding-bottom: 17%;
  }
  .ul3 {
    text-align: initial;
    /* margin-left: 20%; */
    width: 90%;
    margin-left: 9%;

    padding-bottom: 7%;
  }
}

@media (768px <= width < 992px) {
  .h5 {
    text-align: start;
    /* padding-left: 5%; */
    color: rgba(47, 139, 167, 0.778);
    margin-top: 10%;
  }
  #button {
    background-color: rgba(47, 139, 167, 0.778);
    width: 70%;
    border-radius: 10px;
    border: none;
    height: 20%;
    color: white;
    font-size: 120%;
  }

  #button2 {
    background-color: rgba(173, 18, 18, 0.677);
    width: 70%;
    border-radius: 10px;
    border: none;
    height: 20%;
    color: white;
    font-size: 120%;
  }

  #button3 {
    background-color: rgba(219, 154, 56, 0.778);
    width: 70%;
    border-radius: 10px;
    border: none;
    height: 20%;
    color: white;
    font-size: 120%;
  }
}
@media (992px <= width <= 1280px) {
  .h5 {
    text-align: start;
    /* padding-left: 5%; */
    color: rgba(47, 139, 167, 0.778);
    margin-top: 10%;
  }
}
@media (min-width: 1280px) {
}
