#offcanvas .btn-close{
    background-color: white;
       color: white;
   }

   #offcanvas{
    text-align: center;
    width: 70%;
    background-color: rgba(38, 116, 167, 0.411);
  color: white;

}